*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-auto-flow: column;
    grid-template: 
    'menu logo search_bar search_logo mic box settings sign_in sign_text'55px/
    60px 300px 1fr 70px 210px 60px 30px 30px 75px;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
}

header .menu{
    display: grid;
    text-align: center;
    font-size: 23px;
    padding-left: 10px;
    color: rgb(128, 128, 128);
}

header .logo{
    display: grid;
    text-align: start;
    padding-left: 10px;
    padding-top: 6px;
}

header .search_bar{
    display: grid;
    height: 40px;
    color: rgba(128, 128, 128, 0.418);
    box-shadow: 0px 0px 1.5px rgb(175, 175, 175);
}
header .search_bar ::placeholder{
    padding-left: 10px;
    font-size: 16px;
    text-align: start;
}


header .search_logo{
    display: grid;
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    border-color: rgba(128, 128, 128, 0.603);
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 1.5px rgb(175, 175, 175);
    background-color: rgba(243, 243, 243, 0.623) ;
}


header .mic{
    display: grid;
    padding-left: 10px;
}

header .mic a{
    border: 1px solid rgb(243, 243, 243);
    background-color: rgba(243, 243, 243, 0.63);
    padding: 10px 13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .box{
    display: grid;
    font-size: 20px;
}

header .settings{
    display: grid;
    font-size: 20px;
}

header .sign_in{
    display: grid;
    font-size: 20px;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    align-items: center;
    border-right: none;
    border-color: blue;
    color: blue;
}

header .sign_text{
    display: grid;
    font-size: 20px;
    padding-left: 5px;
    border: 1px solid black;
    height: 40px;
    text-align: start;
    align-items: center;
    border-left: none;
    margin-right: 5px;
    border-color: blue;
    color: blue;
}

/* main selector */

.home{
    display: grid;
    grid-template-columns: 226px ;
    padding-top: 15px;
    width: 226px;
    height: 190px;
    position: fixed;
}

.home li{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 1px solid white;
    width: 226px;
}

.home a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.fixed{
    background-color: rgba(184, 184, 184, 0.459) ;
}

.home li:hover{
    background-color: rgba(202, 202, 202, 0.226);
}

li h2{
    padding-left: 35px;
}
.home li i{
    font-size: larger;
}
.home li h2{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

.top_menu {
    padding-left: 260px;
}
.top_menu ul li{
    display: inline;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgba(221, 221, 221, 0.445);
}

.top_menu li a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: rgb(41, 41, 41);
}
.top_menu li:hover{
    background-color: rgba(194, 194, 194, 0.432);
}

.videos{
    padding-left: 260px;
}

.videos span{
    display: inline-block;
    border: 1px solid black;
    text-align: start;
    align-content: center;
}

.videos span .first{
   
}
