*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-auto-flow: column;
    grid-template: 
    'menu logo search_bar search_logo mic box settings sign_in sign_text'55px/
    60px 320px 1fr 70px 210px 60px 30px 30px 75px;
    /* gap: 5px; */
    align-items: center;
    /* position: fixed; */
    /* position: relative; */
}
header a{
    text-decoration: none;
    color: black;
}

header .menu{
    display: grid;
    /* position: absolute; */
    text-align: center;
    font-size: 23px;
    padding-left: 10px;
    color: rgb(128, 128, 128);
}

header .logo{
    display: grid;
    text-align: start;
    padding-left: 10px;
}

header .search_bar{
    display: grid;
    height: 40px;
    color: rgba(128, 128, 128, 0.418);
    box-shadow: 0px 0px 1.5px rgb(175, 175, 175);
}
header .search_bar ::placeholder{
    padding-left: 10px;
    font-size: 16px;
    text-align: start;
}


header .search_logo{
    display: grid;
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    border-color: rgba(128, 128, 128, 0.603);
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 1.5px rgb(175, 175, 175);
    background-color: rgba(243, 243, 243, 0.623) ;
}


header .mic{
    display: grid;
    padding-left: 10px;
    /* font-size: 30xp; */
}

header .mic a{
    border: 1px solid rgb(243, 243, 243);
    background-color: rgba(243, 243, 243, 0.63);
    padding: 10px 13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .box{
    display: grid;
    font-size: 20px;
}

header .settings{
    display: grid;
    font-size: 20px;
}

header .sign_in{
    display: grid;
    font-size: 20px;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    align-items: center;
    border-right: none;
    border-color: blue;
    color: blue;
}

header .sign_text{
    display: grid;
    font-size: 20px;
    padding-left: 5px;
    border: 1px solid black;
    height: 40px;
    text-align: start;
    align-items: center;
    border-left: none;
    margin-right: 5px;
    border-color: blue;
    color: blue;
}

main{
    display: grid;
    grid-template: 
    'left_menu options options options'40px
    'left_ menu videos videos videos' auto/
    400px 1fr 1fr 1fr;
}

main .left_menu{
    display: grid;
    grid-area: left_menu;
    background-color: aqua;
}

menu .options{
    display: grid;
    grid-area: options;
    background-color: brown;
}

menu .videos{
    display: grid;
    grid-area: videos;
    background-color: blue;
}